:root {
/* CSS HEX */
--color1: #4B5A64;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;
}

* {
  font-family: 'Futura PT', arial, sans-serif;
  color: var(--color1);
}

a {
  color: var(--color1);
}

i {
  color: var(--color1);
  font-size: x-large;
}

.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}
